<header>
    <div>
        <nav role="navigation" class="nav-menu w-nav-menu left-navigation">
            <h2 class="nav-links" id="nav-htc-title">HTC 2.0</h2>
            <ul>
                <a href="/" class=" nav-link">Home.js</a>
                <a href="" class=" nav-link">About.js</a>
                <a href="" class=" nav-link">FAQ.js</a>
                <a href="" class=" nav-link">Schedule.js</a>
                <a href="" class=" nav-link">Sponsors.js</a>
                <button type="button">Register.js</button>
            </ul>
        </nav>
    </div>  
</header>