<header>
    <div>
        <nav role="navigation" id="desktop-nav">
            <img id="partner-logo" alt="Hack the Cloud" src="https://rafael.sirv.com/hackthefog/logo.svg">
            <div id="routes">
                <a href="#home" class="nav-link"><span>Home</span></a>
                <a href="#about" class="nav-link"><span>About</span></a>
                <a href="#faq" class="nav-link"><span>FAQ</span></a>
                <a href="#schedule" class="nav-link"><span>Schedule</span></a>
                <a href="#sponsors" class="nav-link"><span>Sponsors</span></a>
                <a href="https://event.hackhub.com/event/htc2" class="nav-link"><span>Register</span></a>
            </div>
        </nav>
    </div>
    <div>
        <nav role="navigation" id="mobile-nav-menu">
            <div id="mobile-nav-menu-controls">
                <h2 id="mobile-nav-htc-title" class="mobile-nav-hide-title">HTC 2.0</h2>
                <div id="hamburger-icon-wrapper">
                    <a id="hamburger-icon" href="#" title="Menu">
                        <span class="line" id="line-1"></span>
                        <span class="line" id="line-2"></span>
                        <span class="line" id="line-3"></span>
                    </a>
                </div>
            </div>
            <div id="mobile-link-container" class="mobile-nav-display">
                <div class="mobile-nav-links"></div>
                <a href="#home" class="mobile-nav-links" id="link1"><span>Home</span></a>
                <a href="#about" class="mobile-nav-links" id="link2"><span>About</span></a>
                <a href="#faq" class="mobile-nav-links" id="link3"><span>FAQ</span></a>
                <a href="#schedule" class="mobile-nav-links" id="link4"><span>Schedule</span></a>
                <a href="#sponsors" class="mobile-nav-links" id="link5"><span>Sponsors</span></a>
                <a href="https://event.hackhub.com/event/htc2" class="mobile-nav-links" id="link6"><span>Register Now</span></a>
            </div>
        </nav>
    </div>
</header>