<header>
    <div>
        <nav role="navigation" class="nav-menu w-nav-menu left-navigation" id="nav-side-menu">
            <h2 class="nav-links" id="nav-htc-title">HTC 2.0</h2>
            <ul>
                <a href="/" class="nav-link">Home.js</a>
                <a href="" class="nav-link">About.js</a>
                <a href="" class="nav-link">FAQ.js</a>
                <a href="" class="nav-link">Schedule.js</a>
                <a href="" class="nav-link">Sponsors.js</a>
                <button type="button" class="register-button">Register_Now.js</button>
            </ul>
        </nav>
    </div>  
    <div>
        <nav role="navigation" class="mobile-nav-menu mobile-navigation" id="nav-top-menu">
            <h2 class="" id="mobile-nav-htc-title">HTC 2.0</h2>
            <div id="mobile-link-container">
                <a href="/" class="mobile-nav-links">Home.js</a>
                <a href="" class="mobile-nav-links">About.js</a>
                <a href="" class="mobile-nav-links">FAQ.js</a>
                <a href="" class="mobile-nav-links">Schedule.js</a>
                <a href="" class="mobile-nav-links">Sponsors.js</a>
                <button type="button" class="register-button">Register_Now.js</button>
            </div>
            <a id="hamburger-icon" href="#" title="Menu">
              <span class="line line-1"></span>
              <span class="line line-2"></span>
              <span class="line line-3"></span>
            </a>
        </nav>
    </div>
</header>