<header>
    <div>
        <nav role="navigation" id="desktop-nav">
            <img id="partner-logo" alt="Hack the Cloud" src="../img/logo.svg">
            <div id="routes">
                <a href="#home-screen" class="nav-link"><span>Home</span></a>
                <a href="#about-container" class="nav-link"><span>About</span></a>
                <a href="#faq-section" class="nav-link"><span>FAQ</span></a>
                <a href="#schedule-section" class="nav-link"><span>Schedule</span></a>
                <a href="#sponsor-container" class="nav-link"><span>Sponsors</span></a>
            </div>
            <button type="button" class="register-button" id="desk-top-register-button">Register Now</button>
        </nav>
    </div>
    <div>
        <nav role="navigation" id="mobile-nav-menu">
            <div id="mobile-nav-menu-controls">
                <h2 id="mobile-nav-htc-title">HTC 2.0</h2>
                <a id="hamburger-icon" href="#" title="Menu">
                    <span class="line" id="line-1"></span>
                    <span class="line" id="line-2"></span>
                    <span class="line" id="line-3"></span>
                </a>
            </div>
            <div id="mobile-link-container" class="mobile-nav-display">
                <a href="#home-screen" class="mobile-nav-links" id="link1"><span>Home</span></a>
                <a href="#about-container" class="mobile-nav-links" id="link2"><span>About</span></a>
                <a href="#faq-section" class="mobile-nav-links" id="link3"><span>FAQ</span></a>
                <a href="#schedule-section" class="mobile-nav-links" id="link4"><span>Schedule</span></a>
                <a href="#sponsor-container" class="mobile-nav-links" id="link5"><span>Sponsors</span></a>
                <button type="button" id="mobile-reg-button">Register Now</button>
            </div>
        </nav>
    </div>
</header>