<header>
    <div>
        <nav role="navigation" class="nav-menu w-nav-menu left-navigation nav-link">
            <h3 >HTC 2.0</h3>
            <ul>
                <a href="/">Home.js</a>
                <br>
                <a href="">About.js</a>
                <br>
                <a href="">FAQ.js</a>
                <br>
                <a href="">Schedule.js</a>
                <br>
                <a href="">Sponsors.js</a>
                <br>
                <button type="button">Register.js</button>
            </ul>
        </nav>
    </div>  
</header>