<header>
    <div>
        <nav role="navigation" class="nav-menu w-nav-menu left-navigation" id="nav-side-menu">
            <img class="banner-heading logo-img" id="partner-logo" alt="Hack the Cloud" src="../img/logo.svg">
            <div class="route">
                <div>
                    <a href="#home-screen" class="nav-link">Home</a>
                </div>
                <a href="#about-container" class="nav-link">About</a>
                <a href="#faq-section" class="nav-link">FAQ</a>
                <a href="#schedule-section" class="nav-link">Schedule</a>
                <a href="#sponsor-container" class="nav-link">Sponsors</a>
            </div>
            <button type="button" class="register-button" id="desk-top-register-button">Register Now</button>
        </nav>
    </div>
    <div>
        <nav role="navigation" class="mobile-nav-menu mobile-navigation" id="nav-top-menu">
            <h2 class="" id="mobile-nav-htc-title">HTC 2.0</h2>
            <a id="hamburger-icon" href="#" title="Menu">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </a>
            <div id="mobile-link-container" class="mobile-nav-display">
                <div class="mobile-nav-links-index">
                    <a href="#home-screen" class="mobile-nav-links" id="link1">Home.js</a>
                </div>
                <div class="mobile-nav-links-index">
                    <a href="#about-container" class="mobile-nav-links" id="link2">About.js</a>
                </div>
                <div class="mobile-nav-links-index">
                    <a href="#faq-section" class="mobile-nav-links" id="link3">FAQ.js</a>
                </div>
                <div class="mobile-nav-links-index">
                    <a href="#schedule-section" class="mobile-nav-links" id="link4">Schedule.js</a>
                </div>
                <div class="mobile-nav-links-index">
                    <a href="#sponsor-container" class="mobile-nav-links" id="link5">Sponsors.js</a>
                </div>
                <div class="mobile-nav-links-index">
                    <button type="button" class="mobile-reg-button navbutton">Register Now</button>
                </div>
            </div>
        </nav>
    </div>
</header>