<header>
    <div>
        <nav role="navigation" class="nav-menu w-nav-menu left-navigation" id="nav-side-menu">
            <h2 class="nav-links" id="nav-htc-title">HTC 2.0</h2>
            <ul>
                <a href="/" class="nav-link">Home.js</a>
                <a href="" class="nav-link">About.js</a>
                <a href="" class="nav-link">FAQ.js</a>
                <a href="" class="nav-link">Schedule.js</a>
                <a href="" class="nav-link">Sponsors.js</a>
                <button type="button" class="register-button">Register_Now.js</button>
            </ul>
        </nav>
    </div>  
    <div>
        <nav role="navigation" class="mobile-nav-menu mobile-navigation" id="nav-top-menu">
            <h2 class="" id="mobile-nav-htc-title">HTC 2.0</h2>
            <a id="hamburger-icon" href="#" title="Menu">
              <span class="line line-1"></span>
              <span class="line line-2"></span>
              <span class="line line-3"></span>
            </a>
            <div id="mobile-link-container" class="mobile-nav-display">
                <div class="mobile-nav-links-index">
                    <a href="" class="mobile-nav-links" id="link1">Home.js</a>
                </div>
                <div class="mobile-nav-links-index">
                    <a href="" class="mobile-nav-links" id="link2">About.js</a>
                </div>
                <div class="mobile-nav-links-index">
                    <a href="" class="mobile-nav-links" id="link3">FAQ.js</a>
                </div>
                <div class="mobile-nav-links-index">
                    <a href="" class="mobile-nav-links" id="link4">Schedule.js</a>
                </div>
                <div class="mobile-nav-links-index">
                   <a href="" class="mobile-nav-links" id="link5">Sponsors.js</a> 
                </div>
                <div class="mobile-nav-links-index">
                    <button type="button" class="mobile-reg-button navbutton">Register_Now.js</button>
                </div>
                
            </div>
        </nav>
    </div>
</header>