<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Hack The Cloud Fog Hackathon San Francisco Bay Area High School Youth Programming Computer Science Coding CS Workshops Learning Free Event HTC HTF Missionbit Non Profit">
        <meta name="description" content="Hack the Cloud 2.0 is back for our second online hackathon on July 10th 2021">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/faq.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/schedule.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/timeline.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/sponsors.css">
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
        <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <link rel="apple-touch-icon" type="image/png" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" type="image/png" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" type="image/png" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" type="image/png" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" type="image/png" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="36x36" href="/img/favicon/android-icon-36x36.png">
        <link rel="icon" type="image/png" sizes="48x48" href="/img/favicon/android-icon-48x48.png">
        <link rel="icon" type="image/png" sizes="78x78" href="/img/favicon/android-icon-78x78.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/android-icon-96x96.png">
        <link rel="icon" type="image/png" sizes="144x144" href="/img/favicon/android-icon-144x144.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
        <link rel="alternate icon" href="/img/favicon/favicon.ico">
        <title>Hack the Cloud 2.0</title>
        <!-- Facebook -->
        <meta property="og:url" content="https://www.hackthefog.com">
        <meta property="og:image" content="/img/logo.png">
        <meta property="og:description" content="Hack the Cloud 2.0 is back for our second online hackathon on July 10th 2021">
        <meta property="og:title" content="Hack the Cloud 2.0">
        <meta property="og:site_name" content="Hack the Cloud 2.0">
        <meta property="og:see_also" content="https://www.hackthefog.com">

        <!-- Twitter -->
        <meta name="twitter:card" content="Hack the Cloud 2.0">
        <meta name="twitter:url" content="https://www.hackthefog.com">
        <meta name="twitter:title" content="Hack the Cloud 2.0">
        <meta name="twitter:description" content="Hack the Cloud 2.0 is back for our second online hackathon on July 10th 2021">
        <meta name="twitter:image" content="/img/logo.png">

        <!-- Google+ -->
        <meta itemprop="name" content="Hack the Cloud 2.0">
        <meta itemprop="description" content="Hack the Cloud 2.0 is back for our second online hackathon on July 10th 2021">
        <meta itemprop="image" content="/img/logo.png">
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main class="content">
            <%- body %>
        </main>
        <script type="text/javascript">
			// Scroll animation initiation
			// document.querySelector('html').classList.remove('no-js');
			if(!window.Cypress) {
				AOS.init({
					mirror: true
				});

				document.addEventListener('aos:in', function(e) {
					console.log('in!', e.detail);
				});
			}

			/* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
			window.addEventListener('DOMContentLoaded', event => {
				const hamburger = document.getElementById('hamburger-icon');
				const mobile_link_container = document.getElementById('mobile-link-container');
				const mobile_nav_text = document.getElementById('mobile-nav-htc-title');
				hamburger.addEventListener('click', event => {
					event.preventDefault();
					if(!hamburger.classList.contains('active')) hamburger.classList.add('active');
					else hamburger.classList.remove('active');

					if(!mobile_nav_text.classList.contains('mobile-nav-hide-title')) mobile_nav_text.classList.add('mobile-nav-hide-title');
					else mobile_nav_text.classList.remove('mobile-nav-hide-title');

					if(!mobile_link_container.classList.contains('mobile-nav-display')) mobile_link_container.classList.add('mobile-nav-display');
					else mobile_link_container.classList.remove('mobile-nav-display');
					return false;
				});

				for(let num = 1; num <= 5; num++) {
					const link = document.querySelector('#link' + num);
					link.addEventListener('click', () => {
						hamburger.classList.remove('active');
						mobile_nav_text.classList.add('mobile-nav-hide-title');
						mobile_link_container.classList.add('mobile-nav-display');
						return true;
					});
				}
			});
        </script>
    </body>
</html>
