<h2>Hack the cloud 2.0</h2>

<div>
    <%- include('./about/index.ejs') %>
</div>
<div>
    <%- include('./faq/index.ejs') %>
</div>
<div>
    <%- include('./schedule/index.ejs') %>
</div>
<div>
    <%- include('./sponsors/index.ejs') %>
</div>

<footer>
    Fiscally sponsored by The Hack Foundation. Nonprofit EIN: 81-2908499.
</footer>