<div id="home-screen" class="banner">
    <div class="center-htc-title">
    	<h1 class="banner-heading" id='htc-intro'>Mission Bit and Hack the Fog Presents</h1>
    	<div class="banner-heading" id="htc-name">Hack the Cloud two</div>
    	<div>
			<button href="#" class="register-button" id="banner-button">Register_Now.js</button>
		</div>
    </div>
</div>

<div>
    <%- include('./about/index.ejs') %>
</div>
<div>
    <%- include('./faq/index.ejs') %>
</div>
<div>
    <%- include('./schedule/index.ejs') %>
</div>
<div>
    <%- include('./sponsors/index.ejs') %>
</div>

<footer class="center">
    Fiscally sponsored by The Hack Foundation. Nonprofit EIN: 81-2908499.
</footer>