<div id="home-screen" class="banner">
    <div class="center-htc-title">
    	<h1 class="hero-heading">Welcome to the incredible</h1>
    	<div class="hero-subheading">This is some text inside of a div block.</div>
    </div>
</div>

<div id="home" class="">
	<div class="hero-title-wrapper">
		<h1 class="hero-heading">Welcome to the incredible</h1>
		<div class="hero-subheading">This is some text inside of a div block.</div>
		<div>
			<a href="#" class="hollow-button white">Button Text</a>
			<a href="#" class="hollow-button red">Button Text</a>
		</div>
	</div>
</div>

<div>
    <%- include('./about/index.ejs') %>
</div>
<div>
    <%- include('./faq/index.ejs') %>
</div>
<div>
    <%- include('./schedule/index.ejs') %>
</div>
<div>
    <%- include('./sponsors/index.ejs') %>
</div>

<footer>
    Fiscally sponsored by The Hack Foundation. Nonprofit EIN: 81-2908499.
</footer>