<div id="prizes" class="prize-container container">
	<h2 class="title">Prizes</h2>
	<div id="prize-list">
		<div>
			<p class="prize-category"><b>First Place</b></p>
			<p class="prize-desc">
				Raycon: Noise Cancelling<br>
				Wolfram|One: Personal Edition + 1-Year Subscription to Wolfram|Alpha Pro<br>
				<i>(One prize for each team member)</i>
			</p>
		</div>
		<div>
			<p class="prize-category"><b>Second Place</b></p>
			<p class="prize-desc">
				HyperX: Gaming Keyboard<br>
				Wolfram|One: Personal Edition + 1-Year Subscription to Wolfram|Alpha Pro<br>
				<i>(One prize for each team member)</i>
			</p>
		</div>
		<div>
			<p class="prize-category"><b>Third Place</b></p>
			<p class="prize-desc">
				Amazon: $50 Gift Card<br>
				Wolfram|One: Personal Edition + 1-Year Subscription to Wolfram|Alpha Pro<br>
				<i>(One prize for each team member)</i>
			</p>
		</div>
		<div>
			<p class="prize-category"><b>Fourth Place</b></p>
			<p class="prize-desc">
				Taskade: Lifetime Upgrade<br>
				Wolfram|One: Personal Edition + 1-Year Subscription to Wolfram|Alpha Pro<br>
				<i>(One prize for each team member)</i>
			</p>
		</div>
		<div>
			<p class="prize-category"><b>Fifth Place</b></p>
			<p class="prize-desc">
				AoPS: $125 Credit<br>
				Wolfram|One: Personal Edition + 1-Year Subscription to Wolfram|Alpha Pro<br>
				<i>(One prize for each team member)</i>
			</p>
		</div>
		<div>
			<p class="prize-category"><b>Sixth-Twelfth Place</b></p>
			<p class="prize-desc">
				Wolfram|One: Personal Edition + 1-Year Subscription to Wolfram|Alpha Pro<br>
				<i>(One prize for each team member)</i>
			</p>
		</div>
		<div>
			<p class="prize-category"><b>All Participants</b></p>
			<p class="prize-desc">
				Taskade: 1-Year Free Upgrade<br>
				Wolfram|One: 30-Day Access<br>
				Repl.it: Hacker Plan 1-Month Access<br>
				Sashido: $120 Credits<br>
			</p>
		</div>
		<div>
			<p class="prize-category"><b>Best Design</b></p>
			<p class="prize-desc">
				Various Free Swag<br>
				Possible prizes are stickers, shirts, comics, etc.
			</p>
		</div>
		<div>
			<p class="prize-category"><b>Best Beginner</b></p>
			<p class="prize-desc">
				1Password: Family 6-Month Subscription<br>
				Angela Sun Consulting: SAT & ACT Test Prep<br>
				Wolfram|One: Personal Edition + 1-Year Subscription to Wolfram|Alpha Pro<br>
				<i>(One prize for each team member)</i>
			</p>
		</div>
		<div>
			<p class="prize-category"><b>Sasido Prize</b></p>
			<p class="prize-desc">
				Machine Learning Challenge: Participants can register for SasiDo's 45-day free trial and freely create a project with Machine Learning and SashiDo.<br>
				Partipants must create a short overview of the project, the tech used, post to <a class="highlight-link" href="https://dev.to/">DEV Community</a>, and submit the link to <a class="highlight-link" href="mailto:hello@sasido.io">hello@sashido.io</a> for review.
			</p>
		</div>
	</div>
</div>