<div id="schedule" class="schedule-container container">
	<h2 class="title">Schedule</h2>
	<div class="schedule-all">
		<div class="schedule-day">
			<div class="schedule-date">
				<h4>Saturday, July 10</h4>
			</div>
			<div class="schedule-content">
				<div class="schedule-entry">
					<h3 class="schedule-entry-label"><span class="schedule-entry-time">9:00 AM</span> Opening Ceremony</h3>
					<p class="schedule-entry-desc">Opening ceremony for the day</p>
				</div>

				<div class="schedule-entry">
					<h3 class="schedule-entry-label"><span class="schedule-entry-time">12:00 PM</span> Lunch Break</h3>
				</div>

				<div class="schedule-entry">
					<h3 class="schedule-entry-label"><span class="schedule-entry-time">1:00 PM</span> Workshop: Design Your Own Business</h3>
					<p>Hosted by Brian Thiebaud from MissionBit</p>
				</div>

				<div class="schedule-entry">
					<h3 class="schedule-entry-label"><span class="schedule-entry-time">1:00 PM</span> Workshop: Design Your Own Business</h3>
					<p class="schedule-entry-desc">From 1:00PM to 2:30PM Hosted by Brian Thiebaud from MissionBit</p>
				</div>

				<div class="schedule-entry">
					<h3 class="schedule-entry-label"><span class="schedule-entry-time">3:00 PM</span> Workshop: Intro to Website Development</h3>
					<p class="schedule-entry-desc">From 3:00PM to 3:30PM</p>
				</div>

				<div class="schedule-entry">
					<h3 class="schedule-entry-label"><span class="schedule-entry-time">5:00 PM</span> Workshop: Postman API</h3>
					<p class="schedule-entry-desc">From 5:00PM to 6:00PM</p>
				</div>

				<div class="schedule-entry">
					<h3 class="schedule-entry-label"><span class="schedule-entry-time">7:00 PM</span> Dinner</h3>
				</div>

				<div class="schedule-entry">
					<h3 class="schedule-entry-label"><span class="schedule-entry-time">8:00 PM</span> End of Activities for the Day</h3>
				</div>
			</div>
		</div>

		<div class="schedule-day">
			<div class="schedule-date">
				<h4>Sunday, July 11</h4>
			</div>
			<div class="schedule-content">
				<div class="schedule-entry">
					<h3 class="schedule-entry-label"><span class="schedule-entry-time">9:00 AM</span> Morning Check-in</h3>
				</div>

				<div class="schedule-entry">
					<h3 class="schedule-entry-label"><span class="schedule-entry-time">12:00 PM</span> Lunch Break</h3>
				</div>

				<div class="schedule-entry">
					<h3 class="schedule-entry-label"><span class="schedule-entry-time">3:00 PM</span> Workshop: Spark AR</h3>
					<p class="schedule-entry-desc">From 3:00PM to 4:30PM Hosted by Lilian Emelife and Tara Tiong from MissionBit</p>
				</div>

				<div class="schedule-entry">
					<h3 class="schedule-entry-label"><span class="schedule-entry-time">4:30 PM</span> Break</h3>
				</div>

				<div class="schedule-entry">
					<h3 class="schedule-entry-label"><span class="schedule-entry-time">6:30 PM</span> Break</h3>
				</div>

				<div class="schedule-entry">
					<h3 class="schedule-entry-label"><span class="schedule-entry-time">7:00 PM</span> Dinner</h3>
				</div>

				<div class="schedule-entry">
					<h3 class="schedule-entry-label"><span class="schedule-entry-time">11:59 PM</span> Submission Deadline</h3>
				</div>
			</div>
		</div>
	</div>
</div>