<div id="sponsors" class="container">
	<h2 class="title">Partners</h2>
	<div class="image-list">
		<a class="sponsor-div data-aos" href="https://www.missionbit.org/" title="Mission Bit" target="_blank" rel="noopener">
			<img src="https://rafael.sirv.com/hackthefog/MissionBit.png?format=webp&webp.fallback=jpg" alt="Mission Bit" class="img-center">
			<h3>MissionBit</h3>
		</a>
		<a class="sponsor-div data-aos" href="https://hackclub.com/bank/" title="Hack Club Bank" target="_blank" rel="noopener">
			<img src="https://rafael.sirv.com/hackthefog/HackClubBank.png?format=webp&webp.fallback=jpg" alt="Hack Club Bank" class="img-center">
			<h3>Hack Club Bank</h3>
		</a>
	</div>

	<h2 class="title">Bronze Sponsors</h2>
	<div class="image-list">
		<a class="sponsor-div data-aos" href="https://www.hyperxgaming.com/unitedstates/us" title="HyperX" target="_blank" rel="noopener">
			<img src="/img/HyperX.svg" alt="HyperX">
		</a>
		<a class="sponsor-div data-aos" href="https://www.linode.com/" title="Linode" target="_blank" rel="noopener">
			<img src="/img/Linode.svg" alt="Linode">
		</a>
		<a class="sponsor-div data-aos" href="https://www.inspiritai.com/" title="Inspirit AI" target="_blank" rel="noopener">
			<img src="/img/InspiritAI.png" alt="Inspirit AI">
		</a>
	</div>

	<h2 class="title">Donors</h2>
	<div class="image-list">
		<a class="sponsor-div data-aos" href="https://www.echoar.xyz/" title="echoAR" target="_blank" rel="noopener">
			<img src="/img/EchoAR.png" alt="echoAR">
		</a>
		<a class="sponsor-div data-aos" href="https://1password.com/" title="1Password" target="_blank" rel="noopener">
			<img src="/img/1Password.png" alt="1Password">
		</a>
		<a class="sponsor-div data-aos" href="https://www.taskade.com/" title="Taskade" target="_blank" rel="noopener">
			<img src="/img/taskade.png" alt="Taskade">
		</a>
		<a class="sponsor-div data-aos" href="https://artofproblemsolving.com/" title="Art of Problem Solving" target="_blank" rel="noopener">
			<img src="/img/AoPS.png" alt="Art of Problem Solving">
		</a>
		<a class="sponsor-div data-aos" href="https://www.wolfram.com/language/" title="Wolfram Language" target="_blank" rel="noopener">
			<img src="/img/wolfram.png" alt="Wolfram Language">
		</a>
		<a class="sponsor-div data-aos" href="https://replit.com/" title="Replit" target="_blank" rel="noopener">
			<img src="/img/replit.svg" alt="Replit">
		</a>
		<a class="sponsor-div data-aos" href="https://angelasunconsulting.com/" title="Angela Sun Consulting" target="_blank" rel="noopener">
			<img src="https://rafael.sirv.com/hackthefog/angelasun.png?format=webp&webp.fallback=jpg" alt="Angela Sun Consulting">
		</a>
		<a class="sponsor-div data-aos" href="https://balsamiq.cloud/" title="Balsamiq Cloud" target="_blank" rel="noopener">
			<img src="/img/balsamiq.svg" alt="Balsamiq Cloud">
		</a>
		<a class="sponsor-div data-aos" href="https://www.sashido.io/en/" title="Sashido" target="_blank" rel="noopener">
			<img src="/img/sashido.png" alt="Sashido">
		</a>
	</div>
	<p class="sponsor-interested">
		If you are interested in sponsoring our event, contact us at <a class="highlight-link" href="mailto:contact@hackthefog.com">contact@hackthefog.com</a><br>
		Also check out our <a class="highlight-link" href="/Prospectus.pdf">Sponsorship Prospectus</a> for details
	</p>
</div>
