<div id="sponsors" class="container">
    <h2 class="title">Partners</h2>
    <div class="image-list">
        <a class="sponsor-div data-aos" href="https://www.missionbit.org/" target="_blank" rel="noopener">
            <img src="https://rafael.sirv.com/hackthefog/MissionBit.png" alt="Mission Bit" class="img-center">
            <h3>MissionBit</h3>
        </a>
        <a class="sponsor-div data-aos" href="https://hackclub.com/bank/" target="_blank" rel="noopener">
            <img src="https://rafael.sirv.com/hackthefog/HackClubBank.png?format=webp&webp.fallback=png" alt="Hack Club Bank" class="img-center">
            <h3>Hack Club Bank</h3>
        </a>
    </div>

    <h2 class="title">Donors</h2>
    <div class="image-list">
        <a class="sponsor-div allow-full-size data-aos" href="https://angelasunconsulting.com/" target="_blank" rel="noopener">
            <img src="https://rafael.sirv.com/hackthefog/angelasun.png?format=webp&webp.fallback=png" alt="Angela Sun Consulting">
            <h3>Angela Sun Consulting</h3>
        </a>
    </div>
    <p id="sponsor-interested">Interested in sponsoring? Contact us at <a href="mailto:contact@hackthefog.com">contact@hackthefog.com</a></p>
</div>
