<div id="team" class="container">
	<h2 class="title">Our Team</h2>
	<div class="team-group-div">
		<div class="team-member-div">
			<div class="team-member-image-div">
				<img src="/img/team/Rafael Cenzano.jpg" alt="Rafael Cenzano" class="team-member-image">
			</div>
			<p class="team-member-name">Rafael Cenzano</p>
			<p class="team-member-desc">Director</p>
		</div>
		<div class="team-member-div">
			<div class="team-member-image-div">
				<img src="/img/team/Joshua Pan.jpg" alt="Joshua Pan" class="team-member-image">
			</div>
			<p class="team-member-name">Joshua Pan</p>
			<p class="team-member-desc">External Team Leader</p>
		</div>
		<div class="team-member-div">
			<div class="team-member-image-div">
				<img src="/img/team/Cappillen Lee.jpg" alt="Cappillen Lee" class="team-member-image">
			</div>
			<p class="team-member-name">Cappillen Lee</p>
			<p class="team-member-desc">Internal Team Leader</p>
		</div>
	</div>
	<div class="team-group-div">
		<div class="team-member-div">
			<div class="team-member-image-div">
				<img src="/img/team/Emily Yip.jpg" alt="Emily Yip" class="team-member-image">
			</div>
			<p class="team-member-name">Emily Yip</p>
			<p class="team-member-desc">Social Media Manager</p>
		</div>
		<div class="team-member-div">
			<div class="team-member-image-div">
				<img src="/img/team/Marvin Lee.jpg" alt="Marvin Lee" class="team-member-image">
			</div>
			<p class="team-member-name">Marvin Lee</p>
			<p class="team-member-desc">Website Manager</p>
		</div>
		<div class="team-member-div">
			<div class="team-member-image-div">
				<img src="/img/team/Sean Wong.jpg" alt="Sean Wong" class="team-member-image">
			</div>
			<p class="team-member-name">Sean Wong</p>
			<p class="team-member-desc">Graphic Designer</p>
		</div>
		<div class="team-member-div">
			<div class="team-member-image-div">
				<img src="/img/team/Lianne de Leon.jpg" alt="Lianne de Leon" class="team-member-image">
			</div>
			<p class="team-member-name">Lianne de Leon</p>
			<p class="team-member-desc">Graphic Designer</p>
		</div>
	</div>
	<div class="team-group-div">
		<div class="team-member-div">
			<div class="team-member-image-div">
				<img src="/img/team/Carmen Li.jpg" alt="Carmen Li" class="team-member-image">
			</div>
			<p class="team-member-name">Carmen Li</p>
			<p class="team-member-desc">Outreach Team</p>
		</div>
		<div class="team-member-div">
			<div class="team-member-image-div">
				<img src="/img/team/Daniel Gao.jpg" alt="Daniel Gao" class="team-member-image">
			</div>
			<p class="team-member-name">Daniel Gao</p>
			<p class="team-member-desc">Outreach Team</p>
		</div>
		<div class="team-member-div">
			<div class="team-member-image-div">
				<img src="/img/team/Elton Zeng.jpg" alt="Elton Zeng" class="team-member-image">
			</div>
			<p class="team-member-name">Elton Zeng</p>
			<p class="team-member-desc">Outreach Team</p>
		</div>
		<div class="team-member-div">
			<div class="team-member-image-div">
				<img src="/img/team/Jasmine Chow.jpg" alt="Jasmine Chow" class="team-member-image">
			</div>
			<p class="team-member-name">Jasmine Chow</p>
			<p class="team-member-desc">Outreach Team</p>
		</div>
	</div>
	<div class="team-group-div">
		<div class="team-member-div">
			<div class="team-member-image-div">
				<img src="/img/team/Alexa Der.jpg" alt="Alexa Der" class="team-member-image">
			</div>
			<p class="team-member-name">Alexa Der</p>
			<p class="team-member-desc">Internal Team</p>
		</div>
		<div class="team-member-div">
			<div class="team-member-image-div">
				<img src="/img/team/Caye Lee.jpg" alt="Caye Lee" class="team-member-image">
			</div>
			<p class="team-member-name">Caye Lee</p>
			<p class="team-member-desc">Internal Team</p>
		</div>
		<div class="team-member-div">
			<div class="team-member-image-div">
				<img src="/img/team/Junxian Liu.jpg" alt="Junxian Liu" class="team-member-image">
			</div>
			<p class="team-member-name">Junxian Liu</p>
			<p class="team-member-desc">Internal Team</p>
		</div>
		<div class="team-member-div">
			<div class="team-member-image-div">
				<img src="/img/team/Claire Tao.jpg" alt="Claire Tao" class="team-member-image">
			</div>
			<p class="team-member-name">Claire Tao</p>
			<p class="team-member-desc">Internal Team</p>
		</div>
		<div class="team-member-div">
			<div class="team-member-image-div">
				<img src="/img/team/Kami Wang.jpg" alt="Kami Wang" class="team-member-image">
			</div>
			<p class="team-member-name">Kami Wang</p>
			<p class="team-member-desc">Internal Team</p>
		</div>
	</div>
</div>