* {
    box-sizing: border-box;
}
.title {
    color: #207AEE;
    font-size: 39px;
}
.column {
    float: left;
    width: 50%;
    padding: 15px;
    padding-top: 0px;
}

.column h4 {
    margin: 0px;
}

.row {
    padding: 0px 20px 0px 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 800px) {
    .column {
      width: 100%;
    }
}
.container {
    padding-top: 1px;
    padding-left: 50px;
    padding-right: 50px;
    background: #F7F9FC;
    background: linear-gradient(to bottom, #f7f9fc 70%, #ffffff 100%);
}
