#home-screen {
}

.banner {
	height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/slides/slide9.jpg");
    background-position: 0% 0%, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
}

.center-htc-title {
	position: relative;
	top: 40%;
	margin-bottom: 155px;
	text-align: center;
	color: rgba(0, 0, 0, 0.74);
	font-size: 16px;
	line-height: 40px;
	display: block;
}

.banner-heading {
	margin: 0;
	padding-left: 15x;
	padding-right: 15px;
}

#htc-intro {
	color: #3c77dd;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
	position: relative;
}

#htc-name {
	color: #3c77dd;
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 20px;
	position: relative;
}

#banner-button {
	position: relative;
	margin-top: 10px;
	font-size: 20px;
	font-weight: 600;
	padding: 15px 35px;
	/*border-style: none;*/
}

.imgcenter {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 39%;
    padding: auto;
    text-align: center;
}

footer {
    padding: 5px;
    color: white;
}
.footer {
    background-color: #3B598B;
}