#home-screen {
}

.banner {
	height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/slides/slide9.jpg");
    background-position: 0% 0%, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
}

.center-htc-title {
	position: relative;
	top: 40%;
	margin-bottom: 155px;
	text-align: center;
}