@import './shared/fonts.css';

:root {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    
}
html {
    padding: 0px;
    height: 100%;
    /*-webkit-text-size-adjust: none;*/
}

body {
    
    padding-left: 261px;
    background-color: white;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    margin: 0px;
    height: 100%;
}

a {
    font-size: 20px;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

h1 {
    margin-top: 0;
}

button, input {
    border: none;
    cursor: pointer;
}

.left-navigation {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 260px;
    height: 100%;
    /*background-color: white;*/
}
.nav-link {
    display: block;
    padding: 10px 0px 10px 0px;
    color: black;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}
/* .nav-link:hover {
    color: pink; 
} */

.nav-menu {
    float: none;
    background: #fafcff;
    border-style: none solid none none;
    border-right-width: 1px;
    border-color: lightgray;
    max-width: 260px;
    border-radius: 5px;
}


#nav-htc-title {
    text-align: center;
    color: blue;
}

.content {
    height: 100%;
}

.register-button {
    color: white;
    font-size: 12px;
    background-color: orange;
    padding: 10px 30px;
    border-radius: 5px;
    z-index: 10;
}

.register-button:hover {
    filter: brightness(85%);
    z-index: 10;
}

/* Hide side nav if mobile screen */
@media screen and (max-width: 800px) {
    #nav-menu {
      display: none;
    }
    body {
        padding-left: 0px;
    }
}

footer {
    padding: 5px;
}