@import './shared/fonts.css';

:root {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    
}

body {
    height: 100%;
    padding-left: 300px;
    padding-top: 50px;
    background-color: white;
    font-size: 16px;
    line-height: 20px;
}

a {
    font-size: 20px;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

br {
    top: 50px;
}

.left-navigation {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 260px;
    height: 100%;
    /*background-color: white;*/
}
.nav-link {
    display: block;
    padding: 10 0 10 0;
    color: black;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}
/* .nav-link:hover {
    color: pink; 
} */

.nav-menu {
    float: none;
    background: #fafcff;
    border-style: none solid none none;
    border-right-width: 1px;
    border-color: lightgray;
}


#nav-htc-title {
    text-align: center;
    color: blue;
}