@import './shared/fonts.css';

:root {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    
}
html {
    padding: 0px;
}

body {
    height: 100%;
    padding-left: 260px;
    background-color: white;
    font-size: 16px;
    line-height: 20px;
    display: block;
    margin: 0;
}

a {
    font-size: 20px;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

h1 {
    margin-top: 0;
}
.left-navigation {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 260px;
    height: 100%;
    /*background-color: white;*/
}
.nav-link {
    display: block;
    padding: 10px 0px 10px 0px;
    color: black;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}
/* .nav-link:hover {
    color: pink; 
} */

.nav-menu {
    float: none;
    background: #fafcff;
    border-style: none solid none none;
    border-right-width: 1px;
    border-color: lightgray;
    max-width: 260px;
}


#nav-htc-title {
    text-align: center;
    color: blue;
}

#home-screen {
    height: 100%;
    background-color: blue;
}

.content {
    padding-left: 10px;
}