.schedule-container {
    padding-top: 1px;
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width: 800px) {
    .schedule-container {
        padding: 0 10px 0 10px;
    }
}