<div class="container">
    <div>
        <h2>Partners:</h2>
    </div>
    <div class="row">
        <div class="column data-aos" data-aos="slide-right">
            <img src="../img/partners/missionbit.png" class="center">
        </div>
        <div class="column data-aos" data-aos="slide-left">
            <img src="../img/partners/hackclub.jpeg" class="center">
        </div>
    </div>
    <div>
        <h2>Sponsors:</h2>
    </div>
</div>

