<div id="sponsor-container" class="container">
    <div>
        <h2 class="title">Sponsors</h2>
    </div>
    <div class="row">
        <div class="column data-aos">
            <img src="../img/partners/missionbit.png" class="imgcenter">
        </div>
        <div class="column data-aos">
            <img src="../img/partners/hackclub.jpeg" class="imgcenter">
        </div>
    </div>
</div>

