<div id="sponsor-container" class="container">
    <h2 class="title">Partners</h2>
    <div class="row">
        <div class="column data-aos">
            <img src="../img/partners/MissionBit.png" alt="Mission Bit" class="img-center">
        </div>
        <div class="column data-aos">
            <img src="../img/partners/HackClub.jpeg" alt="Hack Club" class="img-center">
        </div>
    </div>
    <h2 class="title">Sponsors</h2>
    <div id="sponsors-list">
        <div class="sponsor-div data-aos">
            <img src="../img/sponsors/AngelaSun.png" alt="Mission Bit">
        </div>
    </div>
    <p id="sponsor-interested">Interested in sponsoring? Contact us at <a href="mailto:contact@hackthefog.com">contact@hackthefog.com</a></p>
</div>