<div id="sponsors" class="container">
    <h2 class="title">Partners</h2>
    <div class="image-list">
        <div class="sponsor-div data-aos">
            <img src="../img/partners/MissionBit.png" alt="Mission Bit" class="img-center">
            <h3>MissionBit</h3>
        </div>
        <div class="sponsor-div data-aos">
            <img src="../img/partners/HackClub.jpeg" alt="Hack Club" class="img-center">
            <h3>Hack Club</h3>
        </div>
    </div>

    <h2 class="title">Donors</h2>
    <div class="image-list">
        <div class="sponsor-div allow-full-size data-aos">
            <img src="../img/sponsors/AngelaSun.png" alt="Angela Sun Consulting">
            <h3>Angela Sun Consulting</h3>
        </div>
    </div>
    <p id="sponsor-interested">Interested in sponsoring? Contact us at <a href="mailto:contact@hackthefog.com">contact@hackthefog.com</a></p>
</div>