<div id="sponsor-container" class="container">
    <div>
        <h2 class="title">Partners</h2>
    </div>
    <div class="row">
        <div class="column data-aos">
            <img src="../img/partners/missionbit.png" alt="Mission Bit" class="imgcenter">
        </div>
        <div class="column data-aos">
            <img src="../img/partners/hackclub.jpeg" alt="Hack Club" class="imgcenter">
        </div>
    </div>
    <div>
        <h2 class="title">Sponsors</h2>
    </div>
    <div class="row">
        <p>Interested in sponsoring? Contact us at <a href="mailto:contact@hackthefog.com">contact@hackthefog.com</a>
        </p>
    </div>
</div>