<div class="container" id="sponsor-container">
    <div class="title">
        <h2>Sponsors</h2>
    </div>
    <div class="row">
        <div class="column data-aos">
            <img src="../img/partners/missionbit.png" class="center">
        </div>
        <div class="column data-aos">
            <img src="../img/partners/hackclub.jpeg" class="center">
        </div>
    </div>
</div>

