<div class="container" id="faq-section">
    <div>
        <h2 class="title">Frequently asked questions</h2>
    </div>
    <div class="row data-aos">
        <div class="column data-aos" data-aos="fade-up" data-aos-easing="ease-out-cubic ease-in-cubic" data-aos-duration="1000" data-aos-offset="50">
            <h4>What is a virtual hackathon?</h4>
            <div>
                <p>A virtual hackathon is an online event where high schoolers can attend, learn, program and have fun. It will still have lots of the good stuff a physical hackathon has such as prizes and workshops.</p>
            </div>
        </div>
        <div class="column data-aos" data-aos="fade-up" data-aos-data-aos-easing="ease-out-cubic ease-in-cubic" data-aos-duration="1000" data-aos-offset="50">
            <h4>What if I don’t know how to code? Can I still attend?</h4>
            <div>
                <p>We love beginners at Hack the Cloud 2.0. We’ll have a plethora of workshops hosted by coders at several tech companies and startups in the Bay Area where you can learn skills people actually use in the industry. Have an idea but don’t know where to start? Our experienced staff and mentors will help guide you! DM us in the Discord or email us contact@hackthefog.com!</p>
            </div>
        </div>
    </div>
    <div class="row data-aos">
        <div class="column data-aos" data-aos="fade-up" data-aos-easing="ease-out-cubic ease-in-cubic" data-aos-duration="1000" data-aos-delay="300" data-aos-offset="10">
            <h4>How do I sign up?</h4>
            <div>
                <p>Click the “Register” button on our home page to register on our devpost! You will receive an email once you’ve been accepted, and you’ll get important announcements such as reminders, access to our Discord, and other stuff.</p>
            </div>
        </div>
        <div class="column data-aos" data-aos="fade-up" data-aos-easing="ease-out-cubic ease-in-cubic" data-aos-duration="1000" data-aos-delay="300" data-aos-offset="10">
            <h4>I don’t know any other hackers/coders...</h4>
            <div>
                <p>Hack the Cloud 2.0 is a great chance to meet people like you who want to get into tech! Other than our Discord, where you can chat with people who will be attending the event, you can also use Devpost's builtin feature to find people who are looking for a team and connect with them.</p>
            </div>
        </div>
    </div>
    <div class="row data-aos">
        <div class="column data-aos" data-aos="fade-up" data-aos-easing="ease-out-cubic ease-in-cubic" data-aos-duration="1000" data-aos-delay="600" data-aos-offset="50">
            <h4>What are the rules if I want to submit a project?</h4>
            <div>
                <p>Hacks must be made by groups of up to four people, no more. Other than pre-made external libraries and tools, the code can only be made during the event. The project must be posted on Devpost before the end of the second day of the hackathon (July 12th 12 am PDT).</p>
                <p>Other than the above rules, you’re free to do whatever you want as long as you use common sense - don’t make things that would potentially hurt people in any way. Hack for good!</p>
            </div>
        </div>
        <div class="column data-aos" data-aos="fade-up" data-aos-easing="ease-out-cubic ease-in-cubic" data-aos-duration="1000" data-aos-delay="600" data-aos-offset="50">
            <h4>I have a different question</h4>
            <div>
                <p>Shoot us an email at <a href="mailto:contact@hackthefog.com">contact@hackthefog.com</a>.</p>
            </div>
        </div>
    </div>
</div>