<div>
    <h2>Frequently Asked Questions</h2>
</div>

<div>
    <h4>What is a hackathon?</h4>
    <div>
    <p>A hackathon is a 24-hour marathon competition where you and a team of up to 4 people can create anything you want with tech. What you create is up to you - whether it’s a website, a game, or even an artistic hardware project, you can submit your creation to be judged by a panel of actual people working in the tech field. We’ll even reward you and your team with big prizes if your project is exceptionally cool! (Prizes to be announced soon!)</p>
    <br>
    <p>Hackathons are also great chances to connect with other students interested in tech, meet representatives from actual companies, and get exclusive info on what it’s like to work in tech!</p>
    </div>    
</div>

<div>
    <h4>What makes Hack the Fog different from any other Bay Area hackathon?</h4>
    <div>
    <p>Hack the Fog is focused on opening the doors into the tech world for public school students in San Francisco and Oakland. Most of our team is in the SFUSD school district, and knows that public school computer science curriculum is not the best way to learn how to learn to code.</p>
    <br>
    <p>At the same time, our hackathon wants to create a memorable experience through fun activities and being up close and personal with everyone. Come to Hack the Fog and be part of a family of people who will support you in your technological endeavors!</p>
    </div>
</div>

<div>
    <h4>What if I don’t know how to code? Can I still attend?</h4>
    <div>
        <p>We love beginners at Hack the Fog! We’ll have a plethora of workshops hosted by coders at several tech companies and startups in the Bay Area where you can learn skills people actually use in the industry. Have an idea but don’t know where to start? Our experienced staff and mentors will help guide you! DM us in the Slack (to be released soon) or just talk to us in person!</p>
    </div>
</div>

<div>
    <h4>What if I don’t have an idea?</h4>
    <div>
        <p>We’ll have plenty of resources for you to be inspired, don’t worry if you can’t think of an idea to code when you arrive! Feel free to attend workshops and browse around other tables to see what people are making before you begin. We’ll also be releasing a Hack the Fog 2.0 Slack soon, where you can chat with other people to potentially form groups or share resources and ideas.</p>
    </div>
</div>

<div>
    <h4>What are the age limits for Hack the Fog?</h4>
    <div>
        <p>Hack the Fog 2.0 is only available to high schoolers. If you are a middle schooler and want to attend, please email us at contact@hackthefog.com - we will accept you on a case-by-case basis.</p>
    </div>
</div>

<div>
    <h4>How do I sign up?</h4>
    <div>
        <p>Click the "Register" button</p>
    </div>
</div>

<div>
    <h4>I don’t know any other hackers/coders...</h4>
    <div>
        <p>Hack the Fog is a great chance to meet people like you who want to get into tech! Other than our Slack, where you can chat with people who will be attending the event, we’ll have a team-forming event after our opening ceremony where you can find a group.</p>
    </div>
</div>

<div>
    <h4>What are the rules if I want to submit a project?</h4>
    <div>
        <p>Hacks must be made by groups of up to four people, no more. Other than pre-made external libraries and tools, the code can only be made during the event. We will have a Devpost page up soon where teams must submit their hacks before the 24 hours are up.</p>
        <br>
        <p>Other than the above rules, you’re free to do whatever you want as long as you use common sense - don’t make things that would potentially hurt people in any way. Hack for good!</p>
    </div>
</div>

<div>
    <h4>I have a different question</h4>
    <div>
        <p>Don't be shy, shoot us an email at contact@hackthefog.com!</p>
    </div>
</div>